<!DOCTYPE html>
<html>
    <head>
        <title>Simple Predictor</title>
    </head>

    <body>
        <div style="margin-left: 120px;">
            <form action="/result" method="POST">
                <input type="text" name="a" placeholder="1st value"><br>
                <input type="text" name="b" placeholder="2nd value"><br>
                <input type="text" name="c" placeholder="3rd value"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>